.item {
  justify-self: center;
  height: auto;
  width: 60%;
  z-index: 1;
  border: 2px solid #f3efef;
  border-radius: 15px;
}

/* h1 {
  color: rgba(255, 255, 255, 0.918);
}

p {
  color: rgb(255, 255, 255);
}

.container {
  width: 100%;
  background-color: rgba(15, 15, 15, 0.918);
  display: flex;
  flex-direction: column row-reverse;

  box-shadow: inset 0 0 0 1000px rgba(116, 55, 55, 0.007);

  margin: 0 auto;
} */
