.body {
  background: black;
  height: 100%;
  width: 100%;
  opacity: 70%;
  border-radius: 30px;
}

.text-box {
  height: 500px;
  width: 45vw;
  border: 10px solid #fff;
  background: black;
}

.text {
  color: darkgray;
}

h1 {
  color: blanchedalmond;
}
