.body {
  background: black;
  height: 100%;
  width: 100%;
}

.text-box {
  height: 500px;
  width: 45vw;
  border: 10px solid #fff;
  background: blue;
}

.text {
  color: darkgray;
}

h1 {
  color: blanchedalmond;
}
