.slider-container {
  background: rgba(0, 0, 0, 0.918);
}

.carousel,
.carousel:active {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1200px;
  margin: 0 auto;
}

.slider-images {
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 30px;
}

.carousel-caption h5,
p {
  font-size: x-large;
  color: rgb(255, 255, 255);
}

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 10rem !important;
  height: 10rem !important;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: #0f4d8b;
  color: aqua;
  border-radius: 25px;
  opacity: 1;
  width: 8%;
  top: 50px;
  border: none;
  margin: 0, 10px, 0, 10px;
}

.info-text {
  margin: 0 auto;
  max-width: 1300px;
  color: aliceblue;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.more-info {
}
