.slider-container {
  background: rgba(83, 83, 83, 0.651);
}

.carousel,
.carousel:active {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1200px;
  margin: 0 auto;
}

.slider-images {
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
  border-radius: 30pxn;
}

.carousel-caption h5,
p {
  font-size: x-large;
  color: rgb(255, 255, 255);
}

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 10rem !important;
  height: 10rem !important;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: #0f4d8b;
  color: aqua;
  border-radius: 25px;
  opacity: 1;
  width: 8%;
  top: 50px;
  border: none;
  margin: 0, 10px, 0, 10px;
}
